{% include "beneficios/head.html" %}
{% load url from future %}
{% load staticfiles %}


<head><title>Beneficios</title></head>
<body>
	<div class="container"><br>
		<div class="jumbotron">
			<h1 style="text-align:center;">Beneficios Sociales</h1>
		</div>
		<form method="POST" action=".">
		{% csrf_token %}
		<p><input type="text" class="form-control" name="buscar" value="{{beneficio.nombre}}" maxlength="20" placeholder="Ingrese los parametros de búsqueda"/></p>
		<button type="submit" class="btn btn-primary btn-sm" style="text-color:black;" href="{% url 'MostrarBeneficios' %}">Buscar</button>	
		<a type="button" class="btn btn-danger btn-sm" style="text-color:black;" href="{% url 'MostrarBeneficios' %}">Cancelar</a>
		<a type="button" class="btn btn-success btn-sm glyphicon glyphicon-file" href="{% url 'AgregarBeneficios' %}"> Agregar un nuevo Beneficio</a>
		</form>
		<br><br>
		<table class="table table-bordered">
 			<thead>
 				<tr><th>Editar</th><th>Eliminar</th><th>Beneficio</th><th>Descripcion</th><th>Fecha de Creación</th></tr>
 			</thead> 			
 			<tbody>
 				{% for b in beneficios %} 				
 				<tr>
 					<td style="width:20px;"><a class="btn btn-primary btn-block btn-xs glyphicon glyphicon-pencil" href="{% url 'editarBeneficio' b.id %}"></a></td>
 					<td style="width:20px;"><a type="button "class="btn btn-danger btn-block btn-xs glyphicon glyphicon-remove-sign" href="{% url 'eliminarBeneficio' b.id %}"></a></td>
 					<td>{{ b.nombre }}</td>
 					<td>{{ b.descripcion }}</td>
 					<td>{{ b.fecha_creacion }}</td>
 				</tr> 
 				{% endfor %}
 			</tbody>	
		</table>		
	</div>
</body>