{% include "beneficios/head.html" %}
{% load url from future %}
{% load staticfiles %}


<head><title>Centros Educativos Beneficiados</title></head>
<body>
	<div class="container"><br>
		<div class="jumbotron">
			<h1 style="text-align:center;">Centros Educativos Beneficiados</h1>
		</div>
		<form method="POST" action=".">
		{% csrf_token %}
		<p><input type="text" class="form-control" name="buscar" placeholder="Ingrese los parametros de búsqueda"/></p>
		<button type="submit" class="btn btn-primary btn-sm" style="text-color:black;" href="{% url 'MostrarBeneficioCE' %}">Buscar</button>	
		<a type="button" class="btn btn-danger btn-sm" style="text-color:black;" href="{% url 'MostrarBeneficioCE' %}">Cancelar</a>
		<a type="button" class="btn btn-success btn-sm glyphicon glyphicon-file" href="{% url 'BeneficioCe' %}"> Agregar un nuevo Beneficio</a>
		</form>
		<br><br>
		<table class="table table-bordered">
 			<thead>
 				<tr><th>Eliminar</th><th>Beneficio</th><th>Descripción</th><th>Centro</th><th>Fecha de Creación</th></tr>
 			</thead> 			
 			<tbody>
 				{% for b in beneficiosCentro %} 
 				{% for h in historico %}
 					{% if h.id = b.id %}				
 						<tr>
 							<td style="width:20px;"><a type="button "class="btn btn-danger btn-block btn-xs glyphicon glyphicon-remove-sign" href="{%url 'DesactivarBeneficioCe' b.id %}"></a></td>
 							<td>{{ b.beneficio }}</td>
 							<td>{{ h.descripcion }}</td>
 							<td>{{ b.centro }}</td>
 							<td>{{ b.fecha_creacion }}</td>
 						</tr> 
 					{% endif %}
 				{% endfor %}
 				{% endfor %}
 			</tbody>	
		</table>		
	</div>
</body>